$background-dark: #313a5a;
$base-font-size: 16px;
$base-color: #1fdb84;
$btn-default-font-color: #fff;
$navbar-height: 58px;
$btn-default-border-radius: 5px;
$page-nav-item-margin: 36px;
$page-container-padding: 16px;
$logo-font-size: 26px;
$font-size40: 40px;
$h2-color: #32325c;
$page-nav-link-color: #fff;
$price-font-size: 72px;
$base-color-text: #5b6c94;